#jumpToAnswerButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    max-height: 37.78px;
    background-color: #e67a22;
}

#jumpToAnswerButton:hover {
    background-color: rgb(179, 96, 28);
} 

#jumpToAnswerButton .icon {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#answers .answer.accepted-answer {
    padding: 30px 20px;
    width: calc(100% + 20px);
    margin-left: -20px;
    border-radius: 10px;
    border-bottom: unset;
    border: 1px solid var(--black-100);
}
