@use '../abstracts/variables' as variables;
@use '../abstracts/colors' as colors;

label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5rem 0;
	user-select: none;

	& > div {
		max-width: 85%;
		p {
			margin-top: 0.33rem;
			font-size: 0.8rem;
			color: colors.$dark-foreground;
		}
		& > div {
			font-size: 0.9rem;
			font-weight: 600;
		}
	}

	.switch {
		display: block;
		position: relative;

		&,
		.slider {
			height: variables.$switch-heigth;
			width: variables.$switch-width;
		}

		.slider {
			cursor: pointer;
			position: absolute;
			padding: 4px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: colors.$dark-foreground;
			transition: 0.4s;

			&,
			&:before {
				border-radius: variables.$switch-heigth;
				transition: 0.2s ease-in-out;
			}

			&:before {
				position: absolute;
				content: '';
				height: variables.$switch-heigth;
				width: variables.$switch-heigth;
				background-color: colors.$foreground;
			}
		}

		input {
			opacity: 0;
			width: 0;
			height: 0;

			&:checked + .slider {
				background-color: colors.$orange;

				&:before {
					transform: translateX(100%);
				}
			}
		}
	}
}
