html {
    scroll-behavior: smooth;
}

#question-header > h1 {
    transition: .3s;
    padding-right: 10px;
}

#answers .answer.accepted-answer {
    transition: .3s;
    padding: 30px 20px;
    width: calc(100% + 20px);
    margin: 100px -20px 100px 0;
    border-radius: 10px;
    border-bottom: unset;
    border: 1px solid var(--black-100);
}

#jumpToAnswerButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    max-height: 37.78px;
    background-color: rgb(194, 105, 32);
}

#jumpToAnswerButton:hover {
    background-color: #e27b27f3;
} 

#jumpToAnswerButton .icon {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* ================
Hide side bars
================ */


.container #content.no-border {
    border: none;
}

.container #left-sidebar.d-none,
.container #sidebar.d-none {
    display: none;
}