@use 'abstracts/colors' as colors;
@use 'components';

body {
	margin: 0;
	padding: 0;
	width: 43em;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Liberation Sans', sans-serif;
	color: colors.$foreground;
	background-color: colors.$background;

	main {
		border-top: 1px solid colors.$light-background;
		border-bottom: 1px solid colors.$light-background;
		margin: 1.66rem 0;
		padding: 0 1.75rem;
	}
}
