@use 'abstracts/colors' as colors;
@use 'abstracts/variables' as variables;
@use 'components';

body {
	margin: 0;
	padding: 0;
	width: 35em;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Liberation Sans',
		sans-serif;
	color: colors.$foreground;
	background-color: colors.$background;

	main {
		border-bottom: 1px solid colors.$light-background;
		margin-bottom: variables.$popup-padding;
		padding: 0 variables.$popup-padding;
	}
}
