$foreground: hsl(0, 0%, 100%);
$dark-foreground: hsla(0, 0%, 100%, 0.65);
$background: hsl(207, 6%, 29%);
$light-background: hsl(210, 6%, 38%);
$orange: #e27b27f3;
$switch-heigth: 1.25rem;
$switch-width: $switch-heigth * 2;

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 35em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans",
    sans-serif;
  background-color: $background;
  color: $foreground;

  header {
    padding: 2rem 2rem 0 2rem;
  }

  h1 {
    font-size: 1.33rem;
  }

  p,
  h1 {
    margin: 0;
    padding: 0;
  }

  p {
    line-height: 1.5;
  }

  main {
    border-top: 1px solid $light-background;
    border-bottom: 1px solid $light-background;
    margin: 1.66rem 0;
    padding: 0 2rem;
  }

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.75rem 0;
    user-select: none;

    & > div {
      max-width: 85%;
      & > div {
        font-weight: 600;
      }
    }

    p {
      margin-top: 0.33rem;
      font-size: 0.85rem;
      color: $dark-foreground;
    }

    .switch {
      display: block;
      position: relative;

      &,
      .slider {
        height: $switch-heigth;
        width: $switch-width;
      }

      .slider {
        cursor: pointer;
        position: absolute;
        padding: 4px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $dark-foreground;
        transition: 0.4s;

        &,
        &:before {
          border-radius: $switch-heigth;
          transition: 0.2s ease-in-out;
        }

        &:before {
          position: absolute;
          content: "";
          height: $switch-heigth;
          width: $switch-heigth;
          background-color: $foreground;
        }
      }

      input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
          background-color: $orange;

          &:before {
            transform: translateX(100%);
          }
        }

        &:focus + .slider {
          box-shadow: 0 0 1px $orange;
        }
      }
    }
  }

  footer {
    padding: 0 2rem 1.75rem 2rem;
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dark-foreground;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      li {
        display: block;

        &:first-child {
          margin-right: 1rem;
        }

        .icon {
          display: block;
          cursor: pointer;
          transition: 0.3s;
          height: 1.66rem;
          width: 1.66rem;

          path {
            fill: $dark-foreground;
            transition: 0.3s ease-in-out;
          }

          &:hover path {
            fill: $orange;
          }
        }
      }
    }
  }
}
